<form>
	<h4>Fullfør påmelding med manglende info</h4>
	<p>
		<b>
			Det er du som bestemmer over din mønstring. Du kan derfor velge å melde på innslag som ikke har fylt ut alle obligatoriske felt.
		</b>
	</p>
	<p>Hvis innslaget skal sendes videre til vil du måtte oppgi all info før videresending kan gjennomføres</p>


	<div class="clearfix"></div>
	<button type="button" class="btn btn-success action" data-action="simpleSave" data-handle="meldPaInnslag" data-object-id="{{ innslag_id }}">Meld på innslaget informasjonen som er oppgitt</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>