<form action="musikkTittel">
	<div class="row">
			
		<input type="hidden" name="innslagsnavn" value="{{ innslag.navn }}" />
		<input type="hidden" name="tittel_id" value="{{ tittel.id }}" />
		
		<div class="col-xs-12">
		<h4>Legg til låt</h4>
			<p>Røde felt (merket *) er obligatoriske!</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group text-danger">
				<label for="tittel">Låtens tittel / navn *</label>
				<input name="tittel" type="text" class="form-control" value="{{ tittel.tittel }}" required />
			</div>
			<div class="form-group text-danger">
				<label for="lengde">Varighet *</label>
				<select name="lengde" required="required" class="form-control">
					<option value="" disabled="disabled" {{ tittel.varighet_sek == 0 ? 'selected="selected"' : }}>Velg varighet</option>
					{% for i in 0..60 %}
						<option value="{{ i * 10 }}" {{ (tittel.varighet_sek == i * 10) ? 'selected' : '' }}>
							{% if (i / 6)|round(0, 'floor') < 1 %}
								{{ (i % 6) * 10 }} sek
							{% else %}
								{{ (i / 6)|round(0, 'floor') }} min{% if ((i % 6) * 10 ) != 0 %}, {{ (i % 6) * 10 }} sek
								{% endif %}
							{% endif %}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group">
				<p><label>Har låten tekst, eller er det en instrumental?</label></p>
				<div id="tekst-valg">
					<label class="radio-inline"><input type="radio" name="sangtype" value="sang" {{ tittel.instrumental == 0 ? 'checked' : '' }}>Tekst</label>
					<label class="radio-inline"><input type="radio" name="sangtype" value="instrumental" {{ tittel.instrumental == 1 ? 'checked' : '' }}>Instrumental</label>
				</div>
			</div>

			<div class="form-group">
				<p><label>Har {{ innslag.navn }} laget låten selv?</label></p>
				<div id="melodi-valg" >
					<label class="radio-inline"><input type="radio" name="selvlaget" value="1" {{ (tittel.selvlaget == 1) ? 'checked' : '' }}>ja</label>
					<label class="radio-inline"><input type="radio" name="selvlaget" value="0" {{ (tittel.selvlaget == 0) ? 'checked' : '' }}>nei</label>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group" id="tekst-rad">
				<label>Hvem har skrevet teksten?</label>
				<input type="text" name="tekstforfatter" class="form-control" value="{{ tittel.tekst_av }}" />
			</div>

			<div class="form-group" id="melodi-rad">
				<label>Hvem har laget melodien?</label>
				<input type="text" name="melodiforfatter" class="form-control" value="{{ tittel.melodi_av }}" />
			</div>
		</div>
		
	</div>
	<div class="clearfix"></div>
	<p>&nbsp;</p>
	
	
	
	<div class="clearfix"></div>
	<button type="submit" class="action btn btn-success" data-action="save">Lagre</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>