<div class="row">
	{% if innslag.avmeldbar == false %}
		<div class="col-xs-12">
			<div class="alert alert-info">
				<b>OBS:</b>
				<p>
				Innslaget startet påmeldingen for kort tid siden ({{ innslag.subscription.date|dato('d.M H:i') }}), og det er derfor mulig at de fortsatt jobber med påmeldingen sin. 
				Vi anbefaler at du venter til {{ innslag.avmeldlas|dato('d.M H:i') }} før du gjør endringer eller melder av innslaget!
				</p>
			</div>
		</div>
	{% endif %}
	{% if innslag.advarsler|length > 0 %}
		<div class="col-xs-12">
			<div class="alert alert-warning">
				<p>
					<b>Innslaget har blitt flagget for følgende advarsler:</b>
				</p>
				<ul class="list-group list-group-compact">
				{% for advarsel in innslag.advarsler %}
					<li class="list-group-item">{{ advarsel.melding }}</li>
				{% endfor %}
				</ul>
				<p>Du trenger ikke å gjøre noe med dette, da dette bare er et hint fra systemet om at innslaget kan by på en overraskelse i gjennomføringen</p>
			</div>
		</div>
	{% endif %}	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend class="hidden-xs">Informasjon</legend>
		<p>
			<label>Kontaktperson: </label> {{ innslag.kontaktperson.fornavn }} {{ innslag.kontaktperson.etternavn }}
			<br />
			<label>Mobil: </label> <a href="#innslag_{{ innslag_id }}" class="UKMSMS">{{ innslag.kontaktperson.mobil }}</a>
			<br />
			<label>E-post: </label> <a href="mailto:{{ innslag.kontaktperson.epost }}">{{ innslag.kontaktperson.epost }}</a>
			<br />
			<label>Beskrivelse: </label> {{ innslag.beskrivelse }}
		</p>
	</fieldset>

	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Personer</small></legend>
		<p class="explain">Snittalder: {{ innslag.snittalder }} år</p>
		<ol class="list-group list-group-compact">
			{% for person in innslag.personer %}
				<li class="list-group-item person clickChildLink" data-person-id="{{ person.id }}">
					<div class="pull-right">
						{% if person.id == innslag.kontaktperson.id %}
							<a href="#innslag{{innslag_id}}" class="btn btn-warning btn-xs" onclick="alert('{{ person.fornavn }} er kontaktperson for {{ innslag.navn }}. Selv om du fjerner {{ person.fornavn }} fra innslaget, vil han/hun fortsatt stå som kontaktperson.');">Fjern</a>
						{% else %}
							<a href="#innslag_{{innslag_id}}" class="btn btn-danger btn-xs" onclick="return confirm('Er du sikker på at du vil fjerne {{ person.fornavn }} fra {{ innslag.navn }}?');">Fjern</a>	
						{% endif %}
					</div>

					<a href="#" data-action="editPerson" data-person-id="{{ person.id }}" class="action momClickMe">{{ person.fornavn }} {{ person.etternavn}}</a>
					<br />
					<small>{{ person.rolle }}</small>
				</li>
			{% else %}
				<li class="list-group-item">
					Det er ikke lagt til noen personer
				</li>
			{% endfor %}
			<li class="list-group-item">
				<a href="#innslag_{{ innslag_id }}" data-action="addPerson" class="action">+ Legg til person</a>
			</li>
		</ol>
	</fieldset>

	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Titler</small></legend>
		<p class="explain">
			{% if 'utstilling' == innslag.type.key %}
				&nbsp;
			{% else %}
				Varighet: {{ innslag.varighet_human }}
			{% endif %}
		</p>
	
		<ol class="list-group list-group-compact">
			{% for tittel in innslag.titler %}
				<li class="list-group-item person clickChildLink" data-tittel-id="{{ tittel.id }}">
					<div class="pull-right">
						<a href="#innslag_{{innslag_id}}" class="btn btn-danger btn-xs" onclick="return confirm('Er du sikker på at du vil fjerne {{ tittel.tittel }} fra {{ innslag.navn }}?');">Fjern</a>	
					</div>

					<a href="#" class="action momClickMe" data-action="editTitle" data-title-id="{{ tittel.id }}">{{ tittel.tittel }}</a>
					<br />
					<small>
						{% if 'utstilling' == innslag.type.key %}
							&nbsp;
						{% else %}
							{{ tittel.varighet_human }}
						{% endif %}
					</small>
				</li>
			{% else %}
				<li class="list-group-item">
					Det er ikke lagt til noen titler
				</li>
			{% endfor %}
			<li class="list-group-item">
				<a href="#innslag_{{ innslag_id }}" class="action" data-action="addTitle">+ Legg til tittel</a>
			</li>
		</ol>
	</fieldset>
	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Hendelser</small></legend>
		<p class="explain">
				&nbsp;
		</p>

		<ol class="list-group list-group-compact">
			{% for hendelse in innslag.hendelser %}
				<li class="list-group-item">
					<small>Nr {{ hendelse.rekkefolge }} i {{ hendelse.navn }}</small>
					<a href="#innslag_{{ innslag_id }}" class="btn btn-default btn-xs pull-right" onclick="return confirm('Sikker på at du vil fjerne {{ person.fornavn }} fra {{ hendelse.navn }}?');">Fjern</a>
					<div class="clearfix"></div>
				</li>
			{% else %}
				<li class="list-group-item">
					<small>Ikke lagt til i noen hendelser</small>
				</li>
			{% endif %}
			<li class="list-group-item">
				<a href="#innslag_{{ innslag_id }}" class="actionEventAdd">+ Legg til i hendelse</a>
			</li>

		</ol>
	
	</fieldset>
	
	{% if lignende is defined %}
		<div class="clearfix"></div>
		<fieldset class="col-xs-12">
			<legend><small>Lignende innslag</small></legend>
			<p class="explain">
				Ofte er ufullstendige påmeldinger et duplikat av en fullført påmelding, eller så har kontaktpersonen meldt på et annet innslag.
				Listen over lignende innslag viser deg innslag med lignende navn, eller andre innslag hvor noen av personene er med.
			</p>
			
			<p>
				<b>{{ alle_lignende|length }} innslag på din mønstring ligner på {{ innslag.navn }}</b>:
			</p>
			<ol class="list-group list-group-compact">
				{% for lignende in alle_lignende %}
					<li class="list-group-item">
						<div class="col-xs-12 col-sm-6">
							<i class="label label-xs label-{{ lignende.status == 8 ? 'success' : 'warning' }}">{{ lignende.status == 8 ? 'Påmeldt' : 'Ufullstendig påmelding' }}</i>
							&nbsp; <b>{{ lignende.navn }}</b>
						</div>
						<div class="col-xs-12 col-sm-6 small">
							ÅRSAK: {{ lignende.grunnlag }}
						</div>
						<div class="clearfix"></div>
					</li>
				{% else %}
					<li class="list-group-item">Fant ingen lignende innslag</li>
				{% endif %}
			</ol>
		</fieldset>
		<div class="clearfix"></div>
	{% endif %}
	
	<div class="clearfix visible-lg"></div>
	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Handlinger</small></legend>
		<a href="#innslag_{{ innslag_id }}" class="actionEdit btn btn-block btn-primary btn-outline">Rediger informasjon</a>

		<a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-primary btn-outline" data-action="editContact">Bytt kontaktperson</a>
		{% if innslag.status != 8 %}
			<a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-success" data-action="meldPa">Meld på UKM</a>
		{% endif %}

		{% if innslag.avmeldbar %}
			<a href="#innslag_{{ innslag_id }}" class="actionDelete btn btn-block btn-danger" onclick="return confirm('Sikker på at du vil melde av {{ innslag.navn }} fra UKM?');">Meld av UKM</a>
		{% else %}
			<a href="#innslag_{{ innslag_id }}" class="actionDelete btn btn-block btn-danger btn-xs" onclick="return confirm('Sikker på at du vil melde av {{ innslag.navn }} fra UKM? Selv om de startet påmeldingen sin for kort tid siden?');">Meld av UKM</a>
		{% endif %}

		<div class="clearfix"></div>
		
		<p>&nbsp;</p>
		<div class="clearfix"></div>
		<p>
			<a href="#innslag_{{ innslag_id }}" class="action" data-action="close">avbryt</a>
		</p>
	</fieldset>
</div>