<form>
	<div class="row">
			
		<div class="col-xs-12">
			<h4>Søk etter person</h4>
			<p>Søk på fornavn, etternavn eller mobil. Hvis du ikke finner den du leter etter kan du legge til manuelt</p>
			
			<div class="form-group">
				<label for="fornavn">SØK:</label>
				<input name="fornavn" id="filter_persons" type="search" class="form-control" placeholder="Skriv fornavn, etternavn eller mobilnummer..." />
			</div>
			<ol class="list-group" id="filter_persons_results">
				{% for person in personer %}
					<li class="list-group-item" data-filter="{{ person.fornavn }} {{ person.etternavn }} {{ person.mobil }}">
						{{ person.fornavn }} {{ person.etternavn }} <small>{{ person.mobil }}</small>
					</li>
				{% else %}
					<li class="list-group-item nonefound">Vi finner ingen personer for din mønstring</li>
				{% endfor %}
			</ol>

			<p>
				<small>
					Ligger ikke personen i listen? <a href="#" data-action="showNewPerson" class="action">Legg til ny person.</a>
				</small>
			</p>

			
		</div>
			
		
		<div id="filter_persons_create">
			<div class="col-xs-12">
				<h4 style="margin-bottom: 0px;">Fant ingen personer. Opprett en ny med skjemaet nedenfor</h4>
				<p>Røde felt (merket *) er obligatoriske!</p>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="form-group text-danger">
					<label for="fornavn">Fornavn *</label>
					<input name="fornavn" type="text" class="form-control" value="{{ person.fornavn }}" required />
				</div>
				<div class="form-group text-danger">
					<label for="etternavn">Etternavn *</label>
					<input name="etternavn" type="text" class="form-control" value="{{ person.etternavn }}" required />
				</div>
				
				<div class="form-group text-danger">
					<label>Mobil *</label>
					<input name="mobil" type="tel" class="form-control" value="{{ person.mobil }}" required />
				</div>
			</div>
		
			
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="form-group text-danger">
					<label for="instrument">Rolle / funksjon / instrument *</label>
					<input name="instrument" type="text" class="form-control" value="{{ person.instrument }}" required />
				</div>
	
				<div class="form-group text-danger">
					<label for="alder">Alder *</label>
					<select name="alder" class="form-control" required>
						<option value="false" {{ (person.alder_tall < 25) and (person.alder_tall > 9) and (person.alder_tall != '25+') ? '' : 'selected' }} disabled="disabled">Velg alder</option> 
						{% for i in 10..25 %}
							<option value="{{ i }}" {{ person.alder_tall == i ? 'selected' : '' }}>{{ i }} år</option> 
						{% endfor %}
						<option value="0"{{ person.alder_tall == '25+' ? 'selected' : '' }}>Over 25 år</option>
					</select>
				</div>

				{% if monstring.erFellesmonstring %}
					<div class="form-group text-danger">
						<label for="kommune">Kommune/bydel *</label>
						<select name="kommune" class="form-control" required>
							{% for id, navn in monstring.kommuner %}
								<option value="{{ id }}" {{person.kommune_id == id ? 'selected="selected"':''}}>{{ navn }}</option>
							{% endfor %}
						</select>
					</div>
				{% else %}
					<input type="text" name="kommune" value="{{ person.kommune_id }}" />
				{% endif %}
	
				<div class="form-group">
					<label>E-post</label>
					<input name="epost" type="text" class="form-control" value="{{ person.epost }}" />
				</div>
			</div>

		</div>
	</div>

	<div class="clearfix"></div>
	<p>&nbsp;</p>


	
	<div class="clearfix"></div>
	<button type="submit" class="btn btn-success">Lagre</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>