<div class="row">
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend class="hidden-xs"><small>Informasjon</small></legend>
		<p>
			<label>Mobil: </label> <a href="#innslag_{{ innslag_id }}" class="UKMSMS">{{ person.mobil }}</a>
			<br />
			<label>E-post: </label> <a href="mailto:{{ person.epost }}">{{ person.epost }}</a>
			<br />
			<label>Erfaring: </label> {{ erfaring }}
		</p>
	</fieldset>
	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Hendelser</small></legend>
		<ol class="list-group list-group-compact">
			{% for hendelse in innslag.hendelser %}
				<li class="list-group-item">
					Nr {{ hendelse.rekkefolge }} i <a href="admin.php?page=UKMprogram_admin&c_id={{ hendelse.id }}">{{ hendelse.navn }}</a>
					<a href="#innslag_{{ innslag_id }}" class="action btn btn-danger btn-xs pull-right" data-action="simpleSave" data-handle="deleteFromEvent" data-object-id="{{ hendelse.id }}" data-warning="Sikker på at du vil fjerne {{ person.fornavn }} fra {{ hendelse.navn }}?">Fjern</a>
				</li>
			{% else %}
				<li class="list-group-item">
					<small>Ikke lagt til i noen hendelser</small>
				</li>
			{% endif %}
		</ol>
	
	</fieldset>
	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
	</fieldset>

	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Handlinger</small></legend>

		<a href="#innslag_{{ innslag_id }}" class="actionEdit btn btn-block btn-primary btn-outline">Rediger informasjon</a>
		
		<a href="#innslag_{{ innslag_id }}" class="actionEventAdd btn btn-block btn-success btn-outline">Legg til i hendelse</a>
		
		{% if innslag.status != 8 %}
			<a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-success" data-action="meldPa">Meld på UKM</a>
		{% endif %}
		
		{% if innslag.avmeldbar == false %}
			<a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-danger" data-action="simpleSave" data-handle="meldAvInnslag" data-object-id="{{ innslag_id }}" data-warning="Sikker på at du vil melde av {{ innslag.navn }} fra UKM?">Meld av UKM</a>
		{% else %}
			<p>
				Innslaget startet påmeldingen for kort tid siden ({{ innslag.subscription.date|dato('d.M H:i') }}). Vi anbefaler at du venter til {{ innslag.avmeldlas|dato('d.M H:i') }} før du melder av innslaget!
			</p>
			<a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-danger" data-action="simpleSave" data-handle="meldAvInnslag" data-object-id="{{ innslag_id }}" data-warning="Sikker på at du vil melde av {{ innslag.navn }} fra UKM? Selv om de startet påmeldingen sin for kort tid siden?">Meld av UKM</a>
		{% endif %}
		<div class="clearfix"></div>
		<br />
		<p>
			<a href="#innslag_{{ innslag_id }}" class="action" data-action="close">avbryt</a>
		</p>
	</fieldset>
</div>