<form action="musikkinnslag">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group text-danger">
				<label for="navn">Navn *</label>
				<input type="text" class="form-control" required name="navn" />
			</div>		

		{% if 'utstilling' != innslag.type.key %}
			<div class="form-group">
				<label for="sjanger">Sjanger</label>
				<input name="sjanger" type="text" class="form-control" />
			</div>
		{% endif %}

			<div class="form-group">
				<label for="beskrivelse">Beskrivelse</label>
				<textarea type="text" class="form-control" required name="beskrivelse"></textarea>
			</div>
		</div>

		<label>KONTAKTPERSON</label>

		<div class="col-xs-12 col-sm-6 col-lg-4">
			{% if monstring.erFellesmonstring %}
				<div class="form-group text-danger">
					<label for="kommune">Kommune/bydel *</label>
					<select name="kommune" class="form-control" required>
						{% for id, navn in monstring.kommuner %}
							<option value="{{ id }}" {{ innslag.kommune_id == id ? 'selected' : '' }}>{{ navn }}</option>
						{% endfor %}
					</select>
				</div>
			{% else %}
				{# TODO: Bytt til hidden når debug er done #}
				<input type="text" name="kommune" value="{{ person.kommune_id }}" />
			{% endif %}

			{% if 1 == innslag.type.id %}
				<div class="form-group">
					<label for="kategori">Kategori</label>
					<input name="kategori" disabled="disabled" type="text" class="form-control" value="{{ kategori }}"/>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="clearfix"></div>
	<p>&nbsp;</p>
	
	<div class="clearfix"></div>
	<button type="submit" class="action btn btn-success" data-action="save">Opprett innslag</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>