<h2>Dine {% if tab_active == 'pabegynte' %}såvidt påbegynte påmeldinger{% elseif tab_active == 'ufullstendig' %}nesten påmeldte innslag{% else %}deltakere{% endif %}</h2>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<ol class="list-group">
			<li class="list-group-item">
				<div class="pull-right">
					{% if tab_active == 'fullstendig' %}
						vises nå
					{% else %}
						<a href="?page=UKMdeltakere&list=fullstendig" class="btn btn-default btn-sm pull-right">VIS</a>
					{% endif %}
				</div>
				<h3 style="margin:0px;" class="text-success">
					{{ stat.fullstendige }} <small class="text-success">Påmeldte innslag</small>
				</h3>
			</li>
			
			<li class="list-group-item">
				<div class="pull-right">
					{% if tab_active == 'ufullstendig' %}
						vises nå
					{% else %}
						<a href="?page=UKMdeltakere&list=ufullstendig" class="btn btn-default btn-sm pull-right">VIS</a>
					{% endif %}
				</div>
				<h3 style="margin:0px;" class="text-danger">
					{{ stat.ufullstendige }} <small class="text-danger">Nesten påmeldte innslag</small>
				</h3>
			</li>
			
			<li class="list-group-item">
				<div class="pull-right">
					{% if tab_active == 'pabegynte' %}
						vises nå
					{% else %}
						<a href="?page=UKMdeltakere&list=pabegynte" class="btn btn-default btn-sm pull-right">VIS</a>
					{% endif %}
				</div>
				<h3 style="margin:0px;" class="text-info">
					{{ stat.pabegynte }} <small class="text-info">Såvidt påbegynte påmeldinger</small>
				</h3>
			</li>
		</ol>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="hidden-xs">
			<b>Begynn å skrive her for å filtrere listen.</b>
			<br />
			Du kan søke i navn på personer, innslag og titler
		</div>
		<br />
		<form>
			<div class="form-group">
				<input class="form-control" type="search" placeholder="Søk etter innslag og personer i listen" />
			</div>
		</form>
	</div>
</div>

<div class="clearfix"></div>

{% block content %}
{% endblock %}

<div class="clearfix"></div>