<style>
	.nop {
		padding: 0;
	}
	.paameldte-item {
		padding: 10px 15px;
	}
	.list-group-item a {
		text-decoration: none;
	}
	.list-group-item a:hover .paameldte-item .pull-right button,
	.list-group-item a:hover .paameldte-item {
		background: #ebebeb;
	}
	.list-group-item.velg-opsjon {
		overflow: hidden;
	} 
</style>
<div style="width: 95% UKMfilter" id="filter_innslag">
	<h2>Dine {% if action == 'list_ufullstendig' %}uferdige påmeldinger{% else %}påmeldte deltakere{% endif %}</h2>

	<div class="row">
		{% if monstring.harPamelding() %}
			<div class="col-xs-12 col-sm-6">
				<ol class="list-group">
					<li class="list-group-item velg-opsjon nop">
						{% if action != 'list_fullstendig' %}
							<a href="?page=UKMdeltakere&action=list_fullstendig" class="">
						{% endif %}
						<div class="paameldte-item">
							<div class="pull-right">
								{% if action == 'list_fullstendig' %}
									Vises nå
								{% else %}
									<button class="btn btn-default btn-sm pull-right">Vis</button>
								{% endif %}
							</div>
							<h3 style="margin:0px;" class="text-success">
								{{ stat.fullstendige }} <small class="text-success">Påmeldte innslag</small>
							</h3>
						</div>
						{% if action != 'list_fullstendig' %}
							</a>
						{% endif %}
					</li>
					<li class="list-group-item velg-opsjon nop">
						{% if action != 'list_ufullstendig' %}
							<a href="?page=UKMdeltakere&action=list_ufullstendig" class="">
						{% endif %}
							<div class="paameldte-item">
								<div class="pull-right">
									{% if action == 'list_ufullstendig' %}
										Vises nå
									{% else %}
										<button class="btn btn-default btn-sm pull-right">Vis</button>
									{% endif %}
								</div>
								<h3 style="margin:0px;" class="text-danger">
									{{ stat.ufullstendige }} <small class="text-danger">Ikke påmeldte innslag</small>
								</h3>
							</div>
						{% if action != 'list_ufullstendig' %}
							</a>
						{% endif %}

					</li>
				</ol>
			</div>
			
			<div class="visible-xs">
				<div class="clearfix"></div>
				<p>&nbsp;</p>
				<div class="clearfix"></div>
			</div>
		{% endif %}
	
		<div class="col-xs-12 col-sm-6 mt-0 pt-0">
			<div>
				<b>Begynn å skrive her for å søke blant påmeldte innslag.</b>
			</div>
			<form>
				<div class="form-group">
					<input class="form-control" type="search" name="search" placeholder="Du kan søke etter mobilnummer, navn, innslag og titler" />
				</div>
				<div>
					<p class="explain" style="margin-top: -10px; margin-left:4px; display:none;" id="filter_innslag_counter"></p>
				</div>
			</form>
		</div>
		
		{% if not monstring.harPamelding() %}
			<div class="col-xs-12 col-sm-4 col-sm-offset-1">
				<ol class="list-group">
					<li class="list-group-item">
						<h3 style="margin:0px;" class="text-success">
							{{ stat.fullstendige }} <small class="text-success">Påmeldte innslag</small>
						</h3>
					</li>
				</ol>
			</div>
			<div class="clearfix"></div>
			<p>&nbsp;</p>
			<div class="clearfix"></div>
		{% endif %}
	</div>
	
	<div class="clearfix"></div>
	
	{% block content %}
	{% endblock %}
	
	<div class="clearfix"></div>
</div>

<script>
    $(document).ready(function(){
        var listeFilter = new UKMresources.filter('#filter_innslag');
        listeFilter.on('change', function(antall) {
            if( antall == listeFilter.getItemCount() ) {
                $('#filter_innslag_counter').slideUp();
            } else {
                $('#filter_innslag_counter').html('Viser '+ antall +' treff i listen nedenfor').fadeIn();
            }
        });
    });

</script>